@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  margin: 0px;
  background-image: url(https://user-images.githubusercontent.com/40338889/44102421-94a4e9ba-a024-11e8-8595-b350dfeede88.jpg);
  background-size: cover;
}

.header {
  height: 170px
}

.header-logo {
  font-family:'Permanent Marker', cursive;
  text-align: center;
  font-size: 70px;
  color: white;
  padding-top: 30px 
}

.main {
  height: 650px
}

.main-word {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-top: 40px;
}

.footer {
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  height: 100px;
}

.footer-logo {
  font-family:'Permanent Marker', cursive;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 20px;
  
}

.copy-right {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 10px;
  color: white;
}
